services:
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    ports:
      - "15672:15672"
      - "5672:5672"
    
  sql-users:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sql-users
    hostname: sql-users
    ports:
      - "14331:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "StrongPassword!123"
    volumes:
      - sql-users-data:/var/opt/mssql
    networks:
      - backend

  sql-orders:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sql-orders
    hostname: sql-orders
    ports:
      - "14332:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "StrongPassword!123"
    volumes:
      - sql-orders-data:/var/opt/mssql
    networks:
      - backend

  sql-payments:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sql-payments
    hostname: sql-payments
    ports:
      - "14333:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "StrongPassword!123"
    volumes:
      - sql-payments-data:/var/opt/mssql
    networks:
      - backend

volumes:
  sql-users-data:
  sql-orders-data:
  sql-payments-data:

networks:
  backend:
    driver: bridge


  # catalogapi:
  #   build: .
  #   depends_on:
  #     - rabbitmq
  #     - sqlserver
  #   environment:
  #     - RABBITMQ__HOST=rabbitmq
  #     - RABBITMQ__VIRTUALHOST=/
  #     - RABBITMQ__USERNAME=guest
  #     - RABBITMQ__PASSWORD=guest
  #     - JWT__KEY=very_secret_demo_key_please_change
  #     # SQL Server connection settings (adjust to your app's configuration keys)
  #     - SQLSERVER__HOST=sqlserver
  #     - SQLSERVER__PORT=1433
  #     - SQLSERVER__USERNAME=sa
  #     - SQLSERVER__PASSWORD=Your_strong_password_123!
  #     - ConnectionStrings__Default=Server=sqlserver,1433;Database=CatalogDb;User Id=sa;Password=Your_strong_password_123!;TrustServerCertificate=True
  #   ports:
  #     - "5000:80"
